@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

#encapsulator {
    width: 90vw;
    border-style: double;
    border-color: #A6AEBF;
    border-width: 0.5vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 5vw;
    border-radius: 0 10vw 0 10vw;
    background-color: #FFF8DE;
    box-shadow: 1vw 1vw 1vw rgb(100,100,100);
    min-width: 700px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    border-bottom: 3px solid #C5D3E8;
    width: 40vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

h2 {
    font-family: 'Roboto Slab', serif;
}

#header {
    position: absolute;
    border-style: double;
    border-color: #A6AEBF;
    border-width: 0.4vw;
    border-radius: 3vw;
    z-index: 2;
    width: 200px;
    height: 40px;
    top: 3.5vw;
    text-align: center;
    background-color: #FFF8DE;
    right: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#details {
    width: 80vw;
    position: relative;
    left: 50%;
    top: 2vw;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
body {
    background-color: #FFF8DE;
}

p {
    color: rgb(100, 100, 100);
    font-family: 'Roboto Slab', serif;
}

#ron_picture_id {
    width: 30%;
    border-radius: 50%;
    box-shadow: 0.5vw 0.5vw 1vw 1vw #A6AEBF;
    min-width: 200px;
}

#flexbox_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

#personal_details_flex {
    border-left: 3px solid #D0E8C5;
    height: 100%;
    width: 60%;
    
}

.portfolio_icons {
    width: 2vw;
    margin-right: 1vw;
}

li{
   font-family: 'Roboto Slab', serif; 
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 1vw;
}

.about_me {
    margin-left: 3vw;
}

#list_separator {
    border-top: 2px solid #D0E8C5;
    width: 80%;
    position: relative;
    left: 45%;
    transform: translatex(-50%);
}

#resume {
    margin-top: 5vw;
    margin-left: 4vw;
    width: 90%;
    border-top:  2px solid #A6AEBF;
    padding-left: 2vw;
}

#splitter {
    border: 0.5vw solid #A6AEBF;
    width: 80%;
    margin-top: 1.5vw;
    border-radius: 1vw;
    margin-right: 100%;
}

#button-holder {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    position: relative;
    top: -3vw;
}

.education-button {
    border: 0.5vw double #A6AEBF;
    background-color: #FFF8DE;
    border-radius: 5vw;
    width: 5vw;
    height: 5vw;
    font-family: 'Roboto Slab', serif;
    transition-duration: 0.5s;
}

.education-button:hover {
    transition-duration: 0.5s;
    border: 0.5vw double #FFF8DE;
    background-color: #A6AEBF;
    border-radius: 5vw;
    width: 5vw;
    height: 5vw;
    font-family: 'Roboto Slab', serif;
    color: #FFF8DE;
}

#college-content {
    display: none;
}

h3 {
    font-family: 'Roboto Slab', serif;
}

#skills-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skills-separator {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.skill {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#resume {
    display: flex;
    flex-direction: column;
}

#skills-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skill-bar {
    width: 80%;
    height: 1vw;
    background-color: #C5D3E8;
    border-radius: 10px;
}

.gauge {
    height: 100%;
    background-color: #A6AEBF;
    border-radius: 10px;
}

#math-bar {
    width: 90%;
}

#sql-bar {
    width: 80%;
}

#ardu-bar {
    width: 90%;
}

#js-bar {
    width: 95%;
}

#react-bar {
    width: 80%;
}

#assem-bar {
    width: 85%;
}

#project-encapsulator {
    width: 90vw;
    border-style: double;
    border-color: #A6AEBF;
    border-width: 0.5vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 5vw;
    border-radius: 0 10vw 0 10vw;
    background-color: #FFF8DE;
    box-shadow: 1vw 1vw 1vw rgb(100,100,100);
    min-width: 700px;
    display: flex;
    flex-direction: column;
    display: none;
}

.project_shown {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    margin-bottom: 5vw;
}

.project-container{
    background-color: #fff;
    border-radius: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0.5vw 0.5vw 0.5vw rgba(0,0,0,0.2);
    height: 30vw;
    overflow: hidden;
}

.project-container img{
    border-radius: 10%;
    height: 70%;
}

.project-desc {
    background-color: #FFF;
    z-index: 1;
    width: 100%;
}